Package: lomo-vips
Version: 1.0
Maintainer: Lomoware
Architecture: arm64
Description: lomo libvips
Depends: libexif12, libjpeg62-turbo, libpng16-16, libglib2.0-dev, libexpat1, libfftw3-bin, liblcms2-2, libde265-0, libffi6, libpcre3
